<h1>10 slušných ľudí</h1>

<p class="lead">Presne toľko stačí na to, aby zavarili Ficovi a zastavili rozkrádanie našej republiky.</p>

<p class="lead">Fico potrebuje na zostavenie vlády 76 hlasov. 49 má istých zo Smeru. 15 z SNS. To je 64. Ďalších 12 potrebuje od poslancov Most-Híd a Sieť.</p>

<p class="lead">Most-Híd a Sieť majú dokopy 21 poslancov. Fico potrebuje 12 z nich. Avšak stačí ak sa medzi nimi nájde 10 čo majú v sebe štipku hrdosti a tretia ficova vláda sa nestane realitou.</p>

<p class="lead">Miroslav Beblavý (Sieť) a Katarína Macháčková (Sieť) sa už vyjadrili, že vládu Smeru nepodporia. Čiže nám chýba už len 8 slušných ľudí z radov poslancov Mostu-Híd a Sieťe.</p>

<h3>Čo myslíte nájdu sa? Ja verím, že áno!</h3>

<p class="lead">Len im musíme ukázať, že nám to nie je jedno a že nechceme, aby Most a Sieť podporili vládu Fica.</p>

<p class="lead">Ukážme že nám to nie je jedno! Voliči Mostu a Sieťe oslovte svojich poslancov a dajte im vedieť, že toto nechcete. Ukážte svoju silu aj tu a podpíšte túto výzvu (kľudne aj neverejne).</p>


<div class="row">
  <div class="col-md-4">
    <h4>Slušní poslanci</h4>
    <ul class="list-unstyled">
      <li>Miroslav Beblavý SIEŤ</li>
      <li>Katarína Macháčková SIEŤ</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Tí čo sa ešte nevyfarbili</h4>
    <ul class="list-unstyled">
      <li>Lucia Žitňanská MOST-HÍD</li>
      <li>Zsolt Simon MOST-HÍD</li>
      <li>László Sólymos OST-HÍD</li>
      <li>František Šebej MOST-HÍD</li>
      <li>Ivan Švejna MOST-HÍD</li>
      <li>Gábor Gál MOST-HÍD</li>
      <li>Tibor Bastrnák MOST-HÍD</li>
      <li>Peter Kresák MOST-HÍD</li>
      <li>Arpád Érsek MOST-HÍD</li>
      <li>Elemér Jaka MOST-HÍD</li>
      <li>Andrej Hrnčiar SIEŤ</li>
      <li>Katarína Macháčková SIEŤ</li>
      <li>Alena Bašistová SIEŤ</li>
      <li>Katarína Cséfalvayová SIEŤ</li>
      <li>Eduard Adamčík SIEŤ</li>
      <li>Igor JanckulíkSIEŤ</li>
      <li>Martin Fedor SIEŤ</li>
      <li>Simona Petrík SIEŤ</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Tí čo nás sklamali</h4>
    <ul class="list-unstyled">
      <li>Béla Bugár MOST-HÍD</li>
      <li>Radoslav Procházka SIEŤ</li>
    </ul>
  </div>
</div>
