/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  padding: 5px 10px;
  background-color: white;
  background-image: image_url('bg.png');
  background-repeat: repeat-x;
  font-family: 'Roboto';
}

.slovakia-header {
  background-image: image_url('slovensko_borders.png');
  background-repeat: no-repeat;
  background-position: center -20px;
}

#logo-wrapper {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 40px;
}

h1, h2, h3, h4 {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #0d325c;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-weight: normal;

  span {
    font-weight: bold;
    font-size: 50px;
  }
}

h2 {
   padding-top: 20px;
}
h3 {
  padding-top: 15px;
}
p.lead {
  text-align: center;
}

h2, h3, h4 {
  margin-bottom: 20px;
}

ol.all-bold {
  font-weight: bold;
}

form {
  margin-bottom: 30px;
}

label {
  width: 100%;
  text-align: center;
  color: #0d325c;
  font-weight: bold;
}

#fb-wrapper {
  max-width: 250px;
  margin: auto;
}

#current-state {
  margin-top: 30px;
}

.container {
  max-width: 900px;
}
p.first-pg {
  margin-top: 20px;
}

.field_with_errors {
  input,
  select,
  textarea {
    border: 1px solid $state-danger-text;
  }
}

.table {
  .name {
    width: 33%;
  }
  .party {
    width: 33%;
    text-align: center;
  }
  .action {
    width: 33%;
    text-align: center;
  }
}
.signs {
  li {
    display: block;
    width: 33%;
    float: left;
  }
}

.text-center {
  text-align: center;
}