.poslanci img {
  width: 72px;
  height: 83px;
  background: url("https://a-static.projektn.sk/2016/03/poslanci3-e1457431717344-1000x1445.png") no-repeat;
  display: inline-block;
}
.poslanec--most-hid-1 img { background-position: -688px -732px; }
.poslanec--most-hid-2 img { background-position: -688px -832px; }
.poslanec--most-hid-3 img { background-position: -688px -932px; }
.poslanec--most-hid-4 img { background-position: -688px -1033px; }
.poslanec--most-hid-5 img { background-position: -688px -1134px; }
.poslanec--most-hid-6 img { background-position: -688px -1235px; }
.poslanec--most-hid-7 img { background-position: -688px -1336px; }
.poslanec--most-hid-8 img { background-position: -847px -25px; }
.poslanec--most-hid-9 img { background-position: -847px -126px; }
.poslanec--most-hid-10 img { background-position: -847px -227px; }
.poslanec--most-hid-11 img { background-position: -847px -329px; }

.poslanec--siet-1 img { background-position: -847px -430px; }
.poslanec--siet-2 img { background-position: -847px -531px; }
.poslanec--siet-3 img { background-position: -847px -631px; }
.poslanec--siet-4 img { background-position: -847px -732px; }
.poslanec--siet-5 img { background-position: -847px -833px; }
.poslanec--siet-6 img { background-position: -847px -933px; }
.poslanec--siet-7 img { background-position: -847px -1034px; }
.poslanec--siet-8 img { background-position: -847px -1135px; }
.poslanec--siet-9 img { background-position: -847px -1236px; }
.poslanec--siet-10 img { background-position: -847px -1336px; }
.poslanec--siet-11 img { background-position: -847px -1337px; }

.poslanec--sns-1 img { background-position: -185px -933px; }
.poslanec--sns-2 img { background-position: -185px -1033px; }
.poslanec--sns-3 img { background-position: -185px -1134px; }
.poslanec--sns-4 img { background-position: -185px -1234px; }
.poslanec--sns-5 img { background-position: -185px -1335px; }

.poslanec--sns-6 img { background-position: -353px -25px; }
.poslanec--sns-7 img { background-position: -353px -126px; }
.poslanec--sns-8 img { background-position: -353px -227px; }
.poslanec--sns-9 img { background-position: -353px -328px; }
.poslanec--sns-10 img { background-position: -353px -429px; }
.poslanec--sns-11 img { background-position: -353px -530px; }
.poslanec--sns-12 img { background-position: -353px -630px; }
.poslanec--sns-13 img { background-position: -353px -731px; }
.poslanec--sns-14 img { background-position: -353px -832px; }
.poslanec--sns-15 img { background-position: -353px -933px; }